<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Djamin</title>
    <link rel="stylesheet" href="/assets/css/screen.css">
    <script src="/assets/lib/peer.min.js"></script>
    <script src="/assets/js/arteegee.js"></script>
    <script src="/assets/js/canvas.js"></script>
    <script src="/assets/lib/easeljs.js"></script>

</head>

<body>

    <button id="startButton" onclick="launchHost()">START</button>
    <button id="joinButton" onclick="launchClient()">JOIN</button>

    <div id="interFaceHost">
        <canvas id="canvas"></canvas>
    </div>

    <div id="interFaceClient">
        <div class="tapper" onmousedown="callHost()"></div>
        <div id="console">HELLO</div>
    </div>


</body>

</html>