<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <!-- If we don't do this, things will seem really small on a telephone -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Djamin</title>
    <link rel="stylesheet" href="/assets/css/main.css">
</head>

<body>

    <div id="interfaceConnection">
        <button class="button button-connection" onclick="launchHost()">START HOST</button>
        <button class="button button-connection" onclick="launchClient()">START CLIENT</button>
    </div>

    <div id="interFaceHost">
        <canvas id="scene"></canvas>
    </div>

    <div id="interFaceClient">
        <div class="menu">
            <div class="button button-menu" onmousedown="callHost('message')">YOUR BUTTON HERE</div>
        </div>
    </div>

    <!-- THIRD PARTY LIBRARIES -->
    <script src="/assets/lib/peer.min.js"></script>
    <script src="/assets/lib/three.min.js"></script>
    <script src="/assets/lib/TweenMax.min.js"></script>

    <!-- PROJECT X LIBRARIES -->
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/utilities.js"></script>
    <script src="/assets/js/host.js"></script>
    <script src="/assets/js/client.js"></script>

    
    <script src="/assets/js/spacetube/spacetube.js"></script>

</body>

</html>